/* default button */
.button {
    display: inline-flex;
    align-items: center;
    outline: var(--outline-width-small) solid var(--highlight-color);
    border-radius: var(--outline-radius);
    padding: var(--spacing-small);
    gap: var(--spacing-small);
    transition: background 200ms ease-in-out, outline-width 100ms ease-in-out;
    align-self: flex-start;
}

@media (hover: hover) {
    .button:hover {
        background: rgba(224, 68, 71, 0.2);
        outline-width: var(--outline-width-medium);
    }
}

.button.active {
    background: rgba(224, 68, 71, 0.2);
    outline-width: var(--outline-width-medium);
}

.code-button {
    display: inline-flex;
    align-items: center;
    outline: var(--outline-width-small) solid var(--highlight-color);
    padding: var(--spacing-small);
    border-radius: var(--outline-radius);
    gap: var(--spacing-small);
    background: rgba(224, 68, 71, 0.2);
    transition: background 200ms ease-in-out, outline-width 100ms ease-in-out;
    align-self: flex-start;
}

@media (hover: hover) {
    .code-button:hover {
        background: rgba(224, 68, 71, 0.8);
        outline-width: var(--outline-width-medium);
    }
}

.code-button.active {
    background: rgba(224, 68, 71, 1);
    outline-width: var(--outline-width-medium);
}

/* location button styling */
.button-location {
    outline-color: var(--highlight-color) !important;
}

/* info button styling */
.info-item, .info-modal {
    background: White;
    outline: var(--outline-width-medium) solid Black;
    border-radius: var(--outline-radius);
}

.info-item {
    position: relative;
}

.info-modal {
    position: absolute;
    top: 130%;
    left: 0;
    pointer-events: none;
    transform: translateY(10px);
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    z-index: 10;
}

.info-item:hover .info-modal {
    opacity: 1;
    transform: translateY(0);
}


/* social button styling*/

.button-social {
    outline: var(--outline-width-medium) solid #ffffff;
    border-radius: var(--outline-radius);
    transition: outline-width 100ms ease-in-out;
}

@media (hover: hover) {
    .button-social:hover {
        outline-width: var(--outline-width-large);
    }
}

.button-social#Gmail {
    background: #3e79d9;
    outline-color: #84a2ff;
}

.button-social#LinkedIn {
    background: #2b6497;
    outline-color: #4096e3;
}

.button-social#Github {
    background: #384050;
    outline-color: #6d7d9c;
}

/* icon sizes */
.icon-tiny {
    height: var(--sub-text-size);
}

.icon-small {
    height: var(--text-size);
}

.icon-med {
    height: var(--sub-header-size);
}

.icon-large {
    height: var(--header-size);
}
