.text-container,
.image-container {
    position: relative;
    border-radius: var(--outline-radius);
    outline: var(--outline-width-medium) solid var(--border-col);
    background-image: var(--bg-gradient);
    transition: outline-color 0.3s ease;
}

@media (hover: hover) {
    .text-container:hover,
    .image-container:hover {
        outline: var(--outline-width-large) solid var(--border-col-light);
    }
}

.text-container {
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.image-container {
    height: auto;
    overflow: hidden;
    position: relative;
}

    .image-container > img:first-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.overlayed-container {
    position: relative;
}

.overlayed-container-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

    .overlayed-container-item.active {
        position: relative;
        opacity: 1;
        pointer-events: auto;
    }

.gap-small {
    gap: var(--spacing-small);
}

.gap-med {
    gap: var(--spacing-medium);
}

.gap-between {
    justify-content: space-between;
}

.padding-tiny {
    padding: var(--spacing-tiny);
}

.padding-small {
    padding: var(--spacing-small);
}

.padding-med {
    padding: var(--spacing-medium);
}
