/*code preview*/
.code-description {
    margin: 20px;
    padding: var(--spacing-medium);
    border-radius: var(--outline-radius);
    outline: var(--outline-width-medium) solid var(--highlight-color);
}

/* timeline */
.timeline-list {
    border-left: solid var(--outline-width-large) var(--border-col);
}

.timeline-item {
    --timeline-current-color: var(--border-col);
}

@media (hover: hover) {
    .timeline-item:hover {
        --timeline-current-color: var(--highlight-color);
    }
}

.timeline-item.active {
    --timeline-current-color: var(--highlight-color);
}

.timeline-container {
    outline: var(--outline-width-medium) solid var(--timeline-current-color);
    border-radius: var(--outline-radius);
    transition: outline-color 150ms ease-in;
}

.timeline-line {
    width: 15px;
    margin: auto 0px;
    border-top: solid var(--outline-width-medium) var(--timeline-current-color);
    transition: border-color 150ms ease-in;
}

/* project list */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 0;
    overflow-y: auto;
    padding: var(--spacing-tiny);
    box-sizing: border-box;
    align-items: flex-start;
}

.projects-item {
    flex: 0 0 calc(33.333% - 1rem);
    box-sizing: border-box;
}

.projects-img {
    border-radius: var(--outline-radius);
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.projects-list::-webkit-scrollbar-track, .projects-list::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.projects-list::-webkit-scrollbar {
    width: var(--spacing-small);
    height: var(--spacing-small);
}

.projects-list::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: var(--outline-radius);
}

.backgroundImg {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    width: 99%;
    height: 99%;
    object-fit: contain;
    z-index: -1;
}

.backgroundBlack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -2;
    background: black;
}


@media (max-width: 1100px) {
    .projects-item {
        flex: 0 0 calc(50% - 1rem);
        height: auto;
    }
}

/* tablet-thin: portrait tablets or small landscape phones */
@media (max-width: 800px) {
    .projects-item {
        flex: 0 0 calc(100% - 0.2rem);
        height: auto;
    }
}
