.expriences-list {
    height: 100%;
    width: 100%;

    border-left: solid var(--outline-width-large) var(--border-col);
}

.experiences-item  {
    width: 100%;
}

.experience-container {
    outline: var(--outline-width-medium) solid var(--border-col);
    border-radius: var(--outline-radius);
    padding: var(--spacing-small);
    gap: var(--spacing-small);
    transition: ease-in outline-color 150ms, ease-in border-color 150ms, ease-in border-top-color 150ms;
}


.line {
    width: 15px;
    height: var(--outline-width-medium);
    border-top: solid var(--outline-width-medium) var(--border-col);
    transition: ease-in outline-color 150ms, ease-in border-color 150ms, ease-in border-top-color 150ms;
}

.experiences-icon {
    height: 35px;
}

.experiences-item.experience-col-selected .experience-container,
.experiences-item.experience-col-selected .line {
    outline-color: #E04447;
    border-color: #E04447;
    border-top-color: #E04447;
}

.experiences-item:hover .experience-container,
.experiences-item:hover .line {
    outline-color: #E04447;
    border-color: #E04447;
    border-top-color: #E04447;
}