:root {
    --bg-gradient: linear-gradient(120deg, rgb(20, 20, 20, 0.8) 10%, rgba(36, 36, 36, 0.8) 40%);
    --bg-gradient-hover: linear-gradient(120deg, rgb(20, 20, 20, 0.9) 10%, rgba(36, 36, 36, 0.9) 40%);
    --border-col: #2B2B2B;
    --main-text-col: white;
    --sub-text-col: #A2A2A2;
    --header-size: 2.25rem; /* ~36px */
    --text-size: 1.25rem; /* ~20px */
    --sub-text-size: 0.75rem; /* ~12px */
    --outline-radius: 0.3125rem; /* 5px */
    --outline-width-small: 0.125rem; /* 2px */
    --outline-width-medium: 0.1875rem;
    --outline-width-large: 0.25rem;
    --spacing-tiny: 0.3125rem; /* 5px */
    --spacing-small: 0.625rem; /* 10px */
    --spacing-medium: 1.25rem; /* 20px */
}

/* remove odd spacing*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%; /* 16px base */
}

body {
    background-color: #000000; /* Dark fallback */
    background-image: url("../Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional: makes background stay in place while scrolling */
}

/* properly alligns the bento to the middle of the screen*/

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 0;
    gap: 0;
}


body, html {
    font-family: 'Azeret Mono', monospace;
}

h1, p, .sub-p {
    color: var(--main-text-col);
    font-family: 'Azeret Mono', monospace;
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
}

h1 {
    font-size: var(--header-size);
}

p {
    font-size: var(--text-size);
}

.sub-p {
    font-size: var(--sub-text-size);
}

.text-grey {
    color: var(--sub-text-col);
}

.text-black {
    color: black;
}

/* utility */

.flex-vertical {
    display: flex;
    flex-flow: column;
}

.flex-horizontal {
    display: flex;
    flex-flow: row;
}

.allign-center {
    justify-content: flex-start;
    align-items: center;
}

.fill-container {
    flex: 1;
}

.gap-small {
    gap: var(--spacing-small);
}

.gap {
    gap: var(--spacing-medium);
}

.padding {
    padding: var(--spacing-small);
}

.gap-padding {
    gap: var(--spacing-medium);
    padding: var(--spacing-small);
}

.gap-between {
    justify-content:space-between;
}

.hide-element {
    display: none;
}


.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

@media (max-width: 1350px) {
    h1 {
        font-size: calc(var(--header-size) * 0.85);
    }

    p {
        font-size: calc(var(--text-size) * 0.85);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.85);
    }
}

@media (max-width: 1100px) {
    .flex-vertical-mobile {
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
    }

    .flex-horizontal-mobile {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: center;
    }

    .flex-horizontal-wrap-mobile {
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }

    .order-0 {
        order: 1;
    }

    .order-1 {
        order: 0;
    }

    .gap-between-mobile {
        justify-content: space-between;
    }

    .text-align-right-mobile {
        text-align: right;
    }

    .align-right-mobile {
        margin-left: auto;
    }
}

@media (max-width: 728px) {
    h1 {
        font-size: calc(var(--header-size) * 0.75);
    }

    p {
        font-size: calc(var(--text-size) * 0.75);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.75);
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: calc(var(--header-size) * 0.6);
    }

    p {
        font-size: calc(var(--text-size) * 0.6);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.6);
    }
}