:root {
    --bg-gradient: linear-gradient(120deg, rgb(20, 20, 20, 0.8) 10%, rgba(36, 36, 36, 0.8) 40%);
    --bg-gradient-hover: linear-gradient(120deg, rgb(20, 20, 20, 0.9) 10%, rgba(36, 36, 36, 0.9) 40%);
    --border-col: #2B2B2B;
    --main-text-col: white;
    --sub-text-col: #A2A2A2;
    --header-size: 2.25rem; /* ~36px */
    --text-size: 1.25rem; /* ~20px */
    --sub-text-size: 0.75rem; /* ~12px */
    --outline-radius: 0.3125rem; /* 5px */
    --outline-width-small: 0.125rem; /* 2px */
    --outline-width-medium: 0.1875rem;
    --outline-width-large: 0.25rem;
    --spacing-tiny: 0.3125rem; /* 5px */
    --spacing-small: 0.625rem; /* 10px */
    --spacing-medium: 1.25rem; /* 20px */
}

/* remove odd spacing and sets base styling*/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 100%; /* 16px base */
    font-family: 'Azeret Mono', monospace;
}

body {
    background-color: #000000; /* Dark fallback */
    background-image: url("../Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional: makes background stay in place while scrolling */
}

/* text styling*/

h1, p, .sub-p {
    color: var(--main-text-col);
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
}

h1 {
    font-size: var(--header-size);
}

p {
    font-size: var(--text-size);
}

.sub-p {
    font-size: var(--sub-text-size);
}

.text-grey {
    color: var(--sub-text-col);
}

.text-black {
    color: black;
}


/* Customize the code block container */
code[class*="language-"], pre[class*="language-"] {
    background: transparent;
    color: #dcdcdc;
    padding: 1rem;
    border-radius: 0px;
    overflow-x: auto;
    font-family: 'Azeret Mono', monospace;
    font-size: var(--sub-text-size);
}

    code[class*="language-"]::-webkit-scrollbar, pre[class*="language-"]::-webkit-scrollbar-track {
        color: transparent;
    }

    code[class*="language-"]::-webkit-scrollbar-thumb {
        background-color: #E04447;
        border-radius: var(--outline-radius);
        background-clip: content-box;
    }

/* Customize token styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

.token.keyword {
    color: #569cd6;
}

.token.string {
    color: #ce9178;
}

.token.function {
    color: #dcdcaa;
}

.token.class-name {
    color: #4ec9b0;
}

.token.operator {
    color: #d4d4d4;
}



/* utility */

.flex-vertical {
    display: flex;
    flex-flow: column;
}

.flex-horizontal {
    display: flex;
    flex-flow: row;
}

.allign-center {
    justify-content: flex-start;
    align-items: center;
}

.fill-container {
    flex: 1;
}

.width-100 {
    width: 100%;
}
.width-75 {
    width: 75%;
}
.width-66 {
    width: 66%;
}
.width-50 {
    width: 50%;
}
.width-33 {
    width: 33%;
}
.width-25 {
    width: 25%;
}

.gap-small {
    gap: var(--spacing-small);
}

.gap {
    gap: var(--spacing-medium);
}

.padding {
    padding: var(--spacing-small);
}

.gap-padding {
    gap: var(--spacing-medium);
    padding: var(--spacing-small);
}

.gap-between {
    justify-content:space-between;
}

.hide-element {
    display: none;
}

.relative-container {
    position: relative;
    width: 100%;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

@media (max-width: 1350px) {
    h1 {
        font-size: calc(var(--header-size) * 0.85);
    }

    p {
        font-size: calc(var(--text-size) * 0.85);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.85);
    }
}

@media (max-width: 1100px) {
    .flex-vertical-mobile {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: auto;
    }

    .flex-horizontal-mobile {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: center;
    }

    .flex-horizontal-wrap-mobile {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }

    .order-0 {
        order: 1;
    }

    .order-1 {
        order: 0;
    }

    .gap-between-mobile {
        justify-content: space-between;
    }

    .text-align-right-mobile {
        text-align: right;
    }

    .text-align-center-mobile {
        text-align: center;
    }

    .align-right-mobile {
        margin-left: auto;
    }

    .hide-element {
        display: none;
    }

    .width-100-mobile {
        width: 100%;
    }

    .width-75-mobile {
        width: 75%;
    }

    .width-66-mobile {
        width: 66%;
    }

    .width-50-mobile {
        width: 50%;
    }

    .width-33-mobile {
        width: 33%;
    }

    .width-25-mobile {
        width: 25%;
    }

    .width-auto-mobile {
        width: auto;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: calc(var(--header-size) * 0.75);
    }

    p {
        font-size: calc(var(--text-size) * 0.75);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.75);
    }

    .flex-horizontal-mobile-late {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: center;
    }

    .flex-vertical-mobile-late {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .flex-horizontal-wrap-mobile-late {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .mobile-hide-late {
        display: none;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: calc(var(--header-size) * 0.6);
    }

    p {
        font-size: calc(var(--text-size) * 0.6);
    }

    .sub-p {
        font-size: calc(var(--sub-text-size) * 0.6);
    }
}