/* #region default text */

h1, p, .sub-p, li {
    color: var(--main-text-col);
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
}

h1 {
    font-size: var(--header-size);
}

p, li {
    font-size: var(--text-size);
}

.sub-p {
    font-size: var(--sub-text-size);
}

.text-grey {
    color: var(--sub-text-col);
}

.text-black {
    color: black;
}

/* #endregion */

/* #region code styling */

.code-description {
    margin: 20px;
    padding: var(--spacing-medium);
    border-radius: var(--outline-radius);
    outline: var(--outline-width-medium) solid var(--highlight-color);
}

pre[class*="language-"], pre[class*="language-"]::-webkit-scrollbar-track, pre[class*="language-"]::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.scrollable-code-container::-webkit-scrollbar-track, .scrollable-code-container::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.scrollable-code-container::-webkit-scrollbar {
    width: var(--spacing-small);
    height: var(--spacing-small);
}

.scrollable-code-container::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: var(--outline-radius);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata, .token.keyword,
.token.string, .token.function, .token.class-name, .token.operator {
    background: none;
}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

.token.keyword {
    color: #569cd6;
}

.token.string {
    color: #ce9178;
}

.token.function {
    color: #dcdcaa;
}

.token.class-name {
    color: #4ec9b0;
}

.token.operator {
    color: #d4d4d4;
}
/* #endregion */

/* #region bento layout */

    .bento {
        width: 100%;
        max-width: 1400px;
        padding: 0 var(--spacing-medium);
        box-sizing: border-box;
        justify-content: center;
    }

    .social-container {
        height: 105px;
    }

    .nav {
        max-width: 250px;
        min-height: 560px;
    }

    .h-spacer {
        height: 6vw;
        min-height: var(--spacing-medium);
    }

    /* desktop-thin: slightly smaller than wide desktop */
    @media (max-width: 1350px) {
        .h-spacer {
            height: 4vw;
        }

        .nav {
            min-height: 450px;
            max-width: 200px;
        }

        .social-container {
            height: 83px;
        }
    }

    /* tablet: landscape tablets, large phones in landscape */
    @media (max-width: 1100px) {
        /* Styles for tablets or small laptops */
        .h-spacer {
            height: 2vw;
        }

        .nav {
            max-width: 100%;
            min-height: auto;
        }
    }

/* #endregion */

/* #region timeline */

.timeline-list {
    border-left: solid var(--outline-width-large) var(--border-col);
}

.timeline-item {
    --timeline-current-color: var(--border-col);
}

@media (hover: hover) {
    .timeline-item:hover {
        --timeline-current-color: var(--highlight-color);
    }
}

.timeline-item.active {
    --timeline-current-color: var(--highlight-color);
}

.timeline-container {
    outline: var(--outline-width-medium) solid var(--timeline-current-color);
    border-radius: var(--outline-radius);
    transition: outline-color 150ms ease-in;
}

.timeline-line {
    width: 15px;
    margin: auto 0px;
    border-top: solid var(--outline-width-medium) var(--timeline-current-color);
    transition: border-color 150ms ease-in;
}

/* #endregion */

/* #region project list */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 0;
    overflow-y: auto;
    padding: var(--spacing-tiny);
    box-sizing: border-box;
    align-items: flex-start;
}

.projects-item {
    flex: 0 0 calc(33.333% - 1rem);
    box-sizing: border-box;
}

.projects-img {
    border-radius: var(--outline-radius);
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.projects-list::-webkit-scrollbar-track, .projects-list::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.projects-list::-webkit-scrollbar {
    width: var(--spacing-small);
    height: var(--spacing-small);
}

.projects-list::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: var(--outline-radius);
}

@media (max-width: 1100px) {
    .projects-item {
        flex: 0 0 calc(50% - 1rem);
        height: auto;
    }
}

/* tablet-thin: portrait tablets or small landscape phones */
@media (max-width: 800px) {
    .projects-item {
        flex: 0 0 calc(100% - 0.2rem);
        height: auto;
    }
}

/* #endregion */

/* #region video player */

.backgroundImg {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    width: 99%;
    height: 99%;
    object-fit: contain;
    z-index: -1;
}

.backgroundBlack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -2;
    background: black;
}

/* #endregion */