:root {
    --bg-gradient: linear-gradient(120deg, rgb(20, 20, 20, 0.8) 10%, rgba(36, 36, 36, 0.8) 40%);
    --bg-gradient-hover: repeating-linear-gradient(120deg, rgb(10, 10, 10, 0.9) 10%, rgb(10, 10, 10, 0.9) 38%, rgba(36, 36, 36, 0.9) 40%, rgb(10, 10, 10, 0.9) 50%, rgba(36, 36, 36, 0.9) 51%, rgb(10, 10, 10, 0.9) 60%, rgba(36, 36, 36, 0.9) 65%);
    --bg-gradient-hover: repeating-linear-gradient(120deg,rgb(10, 10, 10, 0.5) 15%, rgba(36, 36, 36, 0.5) 20%, rgb(10, 10, 10, 0.5) 35%, rgba(36, 36, 36, 0.5) 40%, rgb(10, 10, 10, 0.5) 50%, rgba(36, 36, 36, 0.5) 51%, rgb(10, 10, 10, 0.5) 60%, rgba(36, 36, 36, 0.5) 65%, rgb(10, 10, 10, 0.5) 85%, rgba(36, 36, 36, 0.5) 88%, rgb(10, 10, 10, 0.5) 95%, rgba(36, 36, 36, 0.5) 100%);
    --border-col: #2B2B2B;
    --border-col-light: #434343;
    --highlight-color: #E04447;
    --main-text-col: white;
    --sub-text-col: #A2A2A2;
    --header-size: 2.25rem; /* ~36px */
    --text-size: 1.25rem; /* ~20px */
    --sub-text-size: 0.75rem; /* ~12px */
    --outline-radius: 0.3125rem; /* 5px */
    --outline-width-small: 0.125rem; /* 2px */
    --outline-width-medium: 0.1875rem;
    --outline-width-large: 0.25rem;
    --spacing-tiny: 0.3125rem; /* 5px */
    --spacing-small: 0.625rem; /* 10px */
    --spacing-medium: 1.25rem; /* 20px */
}

/* remove odd spacing and sets base styling*/
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 100%;
    font-family: 'Azeret Mono', monospace;
}

body {
    background-color: #000000;
    background-image: url("../Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* clear default styling*/
button, a {
    all: unset;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: var(--main-text-col);
    text-align: left;
    appearance: none;
}

/* desktop-thin: slightly smaller than wide desktop */
@media (max-width: 1350px) {
    /* Styles for thinner desktop screens (laptops, small monitors) */
}

/* tablet: landscape tablets, large phones in landscape */
@media (max-width: 1100px) {
    /* Styles for tablets or small laptops */
}

/* tablet-thin: portrait tablets or small landscape phones */
@media (max-width: 800px) {
    /* Styles for thin tablets */
}

/* mobile: phones */
@media (max-width: 550px) {
    /* Styles for phones */
}