nav {
    position: sticky;
    top: 0px;
    /*make navbar fit page*/
    margin: auto;
    width: 90%;
    height: 40px;
    /* set color*/
    background-color: #333333;
    outline: solid #242424 5px;
    border-radius: 0px 0px 5px 5px;
}

.nav-container, #nav-main, #nav-navigation {
    /*make everything flex and fit proper height*/
    display: flex;
    height: 100%;
}

.nav-container {
    /*space nav-main and nav-navigation properly*/
    justify-content: space-between;
}

#nav-main, #nav-navigation {
    /*add slight margin to make things look less crowded, and to make space-between work as intended*/
    margin: 0px 10px;
}

    #nav-main img {
        /*make image fit nav bar*/
        height: 100%;
        width: auto;
        border-radius: 7px;
        padding: 0px 5px;
    }

#nav-navigation {
    /* cleans up the look of the list*/
    list-style: none;
}

/*adjust nav bar contents to fit properly and add spacing between them*/
nav li, #nav-main {
    display: flex;
    align-items: center;
    margin: auto 10px;
    padding: 0px 5px;
    height: 100%;
}

/*set outline color*/
nav li, #nav-main {
    outline: solid #242424 5px;
    transition: ease-in-out 200ms;
}

    /*hover expand effect with background*/
    nav li:hover, #nav-main:hover {
        padding: 0px 15px;
        background-color: #545454;
    }

nav a {
    /*removes link styling*/
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

/*adjust content to fit mobile devices*/
@media screen and (max-width: 800px) {

    #nav-container{
        justify-content: space-between;
    }

    #nav-main, #nav-navigation {
        margin: auto;
        padding: 0px;
    }
}
