main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.item-container {
    margin: 20px 0px;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 20px;
    width: 100%;
    outline: solid 1px;
}

.spacer {
    width: auto;
    height: 20px;
}

.pHeader {
    
}
