:root {
    --primary: #333333;
    --secondary: #1D1D1D;
    --gradientPrimary: hsla(0, 100%, 50%, 1);
    --gradientSecondary: hsla(260, 100%, 60%, 1);
}

html, * {
    font-family: sans-serif;
    color: white;
}

body {
    /* sets background and removes margin*/
    background: var(--secondary);
    margin: 0px;
}
