main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.item-container {
    margin: 20px 0px;
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: center;

}

.item {
    margin: 20px;
    width: 100%;
    background: linear-gradient(to top, transparent, var(--primary) 5%, var(--primary) 10%, transparent 40%, transparent 100%) transparent;
}

.pHeader {
    text-align:center;
    border-bottom: 3px solid white;
    font-size: 3em;
}

p {
    margin: 20px;
    font-size: 1.5em;
}
