:root {
    --primary: #333333;
    --secondary: #1D1D1D;
    --gradientOverlayPrimary: #ff0000;
    --gradientOverlaySecondary: #7735FF;
}

html, * {
    font-family: sans-serif;
    color: white;
}

body {
    /* sets background and removes margin*/
    background: var(--secondary);
    margin: 0px;
}
