/* default styling */
h1, p, .sub-p, li {
    color: var(--main-text-col);
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;

}

h1 {
    font-size: var(--header-size);
}

p, li {
    font-size: var(--text-size);
}

.sub-p {
    font-size: var(--sub-text-size);
}

.text-grey {
    color: var(--sub-text-col);
}

.text-black {
    color: black;
}


/* code styling */
pre[class*="language-"], pre[class*="language-"]::-webkit-scrollbar-track, pre[class*="language-"]::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.scrollable-code-container::-webkit-scrollbar-track, .scrollable-code-container::-webkit-scrollbar-corner {
    background: none;
    font-size: var(--sub-text-size);
}

.scrollable-code-container::-webkit-scrollbar {
    width: var(--spacing-small);
    height: var(--spacing-small);
}

.scrollable-code-container::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: var(--outline-radius);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata, .token.keyword,
.token.string, .token.function, .token.class-name, .token.operator {
    background: none;
}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;

}

.token.keyword {
    color: #569cd6;
}

.token.string {
    color: #ce9178;
}

.token.function {
    color: #dcdcaa;
}

.token.class-name {
    color: #4ec9b0;
}

.token.operator {
    color: #d4d4d4;
}

