.button-location {
    display: inline-flex;
    align-items: center;
    outline: var(--outline-width-medium) solid var(--highlight-color);
    border-radius: var(--outline-radius);
    background-image: var(--bg-gradient);
    padding: var(--spacing-medium);
    gap: var(--spacing-small);
    transition: background-image 200ms ease-in-out, outline-width 100ms ease-in-out;
}

    .button-location:hover {
        outline-width: var(--outline-width-large);
    }

/* desktop-thin: slightly smaller than wide desktop */
@media (max-width: 1350px) {
    /* Styles for thinner desktop screens (laptops, small monitors) */
}

/* tablet: landscape tablets, large phones in landscape */
@media (max-width: 1100px) {
    /* Styles for tablets or small laptops */
}

/* tablet-thin: portrait tablets or small landscape phones */
@media (max-width: 800px) {
    /* Styles for thin tablets */
}

/* mobile: phones */
@media (max-width: 550px) {
    /* Styles for phones */
}