.viewer-container {
    position: relative;
    border-radius: var(--outline-radius);
    outline: var(--outline-width-medium) solid var(--border-col);
    background-image: var(--bg-gradient);
    transition: outline-color 0.3s ease;
}

@media (hover: hover) {
    .viewer-container:hover {
        outline: var(--outline-width-large) solid var(--border-col-light);
    }
}

.viewer-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

    .viewer-modal.active {
        opacity: 1;
        pointer-events: auto;
    }

.gpu-warning {
    border: dashed var(--outline-width-medium) var(--highlight-color);
    border-radius: var(--outline-radius);
    display: none !important;
}

    .gpu-warning.active {
        display: flex !important;
    }

    .gpu-warning h1 {
        color: var(--highlight-color);
    }

    .gpu-warning ol {
        color: var(--main-text-col);
        background-image: var(--bg-gradient);
        border-radius: var(--outline-radius);
        padding-left: 4rem;
    }

.viewer-overlay {
    position: absolute !important;
    z-index: 1000;
    inset: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    pointer-events: none
}

.viewer-nav {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: var(--bg-gradient);
    pointer-events: all;
}

    .viewer-nav .left {
    }

    .viewer-nav .right {
        margin-left: auto;
    }


/* desktop-thin: slightly smaller than wide desktop */
@media (max-width: 1350px) {
}

@media (max-width: 1100px) {
    .viewer-container {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

/* tablet-thin: portrait tablets or small landscape phones */
@media (max-width: 800px) {
}

/* mobile: phones */
@media (max-width: 550px) {
}
