button {
    display: flex;
    background: linear-gradient(270deg, var(--gradientPrimary), var(--gradientSecondary));
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    min-width: fit-content;
    max-width: 70%;
    height: fit-content;
    transition: 0.5s;
    overflow: hidden;
}

    button i {
        font-size: 1.5em;
        margin: auto 20px;
    }

    button:hover {
        transform: scale(1.05);
    }

.button-container {
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.button-text {
    padding: 0px;
    margin: 5px 20px 5px 0px;
    font-size: 2em;
}

@media only screen and (max-width: 1000px) {

    button i {
        margin: auto 10px;
    }

    .button-text {
        margin: 5px 10px 5px 0px;
    }
}

@media only screen and (max-width: 600px) {

    button i {
        font-size: 1em;
    }

    .button-text {
        font-size: 1.5em;
    }
}
