button {
    display: flex;
    background: linear-gradient(270deg, var(--gradientPrimary), var(--gradientSecondary));
    border: none;
    border-radius: 100px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    min-width: 200px;
    max-width: 70%;
    height: auto;
    transition: 0.5s;
    overflow: hidden;
}

    button i {
        margin: auto 20px;
    }

    button:hover {
        min-width: 250px;
        max-width: 90%;
    }

.button-container {
    padding: 5px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.button-text {
    padding: 0px;
    margin: 5px 20px 5px 0px;
    font-size: 2em;
}
