.background-gradient {
    background: linear-gradient(to top, var(--primary) 0%, transparent 50%);
}

.background-fill {
    background: linear-gradient(to bottom, var(--tertiary) 0%, var(--tertiary) 50%, var(--quaternary) 100%);
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: background-position 0.5s ease-in-out;
}

    .background-fill:hover {
        background-position: 100% 100%;
    }

.background-image {
    background-size: cover;
    background-position: center;
    transition: background-size 0.3s ease;
}

.background-radius-small {
    border-radius: 10px;
}

.background-radius-medium {
    border-radius: 20px;
}

.background-radius-large {
    border-radius: 30px;
}

.background-radius-left-small {
    border-radius: 10px 0px 0px 10px;
}

.background-radius-left-medium {
    border-radius: 20px 0px 0px 20px;
}

.background-radius-left-large {
    border-radius: 30px 0px 0px 30px;
}

.background-radius-right-small {
    border-radius: 0px 10px 10px 0px;
}

.background-radius-right-medium {
    border-radius: 0px 20px 20px 0px;
}

.background-radius-right-large {
    border-radius: 0px 30px 30px 0px;
}

@media only screen and (max-width: 1200px) {
    .background-radius-small, .background-radius-left-small, .background-radius-right-small {
        border-radius: 10px;
    }

    .background-radius-medium, .background-radius-left-medium, .background-radius-right-medium {
        border-radius: 20px;
    }

    .background-radius-large, .background-radius-left-large, .background-radius-right-large {
        border-radius: 30px;
    }
}
