/*image for modal target*/
.thumbnail {
    cursor: pointer;
    transition: transform 0.3s;
}

    .thumbnail:hover {
        transform: scale(1.01);
    }

/* Modal Styles */
#image-modal {
    display: none; /* Hidden by default, switches to flex */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

#modal-content {
    transform: scale(0);
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    transition: transform ease-in-out 0.3s;
}

