/*navbar styling*/
nav {
    width: 100%;
    height: auto;
}

.navbar {
    text-align: center;
    background: var(--primary);
    height: fit-content;
    display: flex;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    height: 100%;
    margin: auto;
}

.nav-alligned-left, .nav-alligned-right {
    display: flex;
    align-items: center;
}

.nav-button, .nav-button-selected {
    padding: 30px 15px 20px 15px;
    margin: 0px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

    .nav-button:hover, .nav-button-selected:hover {
        color: red;
        font-size: 2.1em;
    }

.nav-button-selected {
    color: red;
    font-size: 2.1em;
    cursor: pointer;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
}

.hero-item-container {
    width: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1;
    padding: 50px 0px;
    margin: auto;
    pointer-events: none;
}

.hero-title {
    text-align:center;
    font-size: 8em;
    margin: auto;
    border-bottom: 3px solid white;
    padding: 5px;
    max-width: 95%;
}

.hero-p {
    text-align: center;
    font-size: 2em;
    margin: auto;
    padding: 20px
}

.gradient-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, var(--gradientPrimary), var(--gradientSecondary));
    z-index: 0;
    opacity: 0.6;
    transition: 1s;
}

    .gradient-overlay:hover {
        opacity: 0.5;
    }


@media only screen and (max-width: 400px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-p {
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .hero-title {
        font-size: 5em;
    }

    .hero-p {
        font-size: 2em;
    }
}

@media only screen and (max-width: 700px) {
    .nav-container {
        display:flex;
        flex-flow: column;
        width: 100%;
    }

    .nav-button, .nav-button-selected {
        padding: 10px;
    }

    .nav-alligned-left, .nav-alligned-right {
        flex-flow: column;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    .nav-container {
        width: 100%;
    }
}