@media (prefers-reduced-motion: no-preference) {
    .main-container {
        opacity: 0;
        animation: 1s fadeInUp forwards;
    }

    .item-container-horizontal, .item-container-vertical, .item-container-vertical-max {
        opacity: 0;
        animation: 1s fadeInUp forwards;
    }

    .item-container-horizontal-wide {
        opacity: 0;
        animation: 1s fadeInUp forwards;
    }
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.item-container-horizontal, .item-container-vertical {
    margin: 20px 0px;
    display: flex;
    max-width: 1400px;
    justify-content:center;
}

.item-container-horizontal-wide {
    margin: 20px 0px;
    display: flex;
    max-width: 90%;
}

.item-container-vertical {
    flex-flow: column;
}

.item-100 {
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.item-75 {
    width: 75%;
}

.item-66 {
    width: 66%;
}

.item-50 {
    width: 50%;
}

.item-33 {
    width: 33%;
}

.item-25 {
    width: 25%;
}

.item-10 {
    width: 10%;
}

.item-75, .item-66, .item-50, .item-33, .item-25, .item-10 {
    margin: 20px;
}

.item-hover {
    margin: auto;
    width: 50%;
    min-height: 300px;
    transition: 1s;
}

    .item-hover:hover {
        width: 60%;
    }

.item-no-margin {
    margin: auto;
}

.item-height-fit-content {
    height: fit-content;
}

.center-content {
    display: flex;
    justify-content: center;
}

.header-main, .header-center {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    border-bottom: 3px solid white;
    font-size: 3.5em;
}

.header-main-sub {
    margin: 30px auto;
    text-align: center;
    font-size: 2.5em;
}

.text-main {
    border-left: 3px solid white;
    padding-left: 10px;
    overflow: hidden;
}

.text-main, .text-center, ul {
    margin: 20px;
    font-size: 1.7em;
}

.text-center {
    text-align: center;
    margin: 20px auto;
}

@media only screen and (min-width: 1800px) {
    .item-container-horizontal-wide {
        max-width: 1600px;
    }
}

@media only screen and (max-width: 1200px) {
    .item-container-horizontal, .item-container-vertical, .item-container-horizontal-wide {
        flex-wrap: wrap;
        flex-flow: column;
        width: 95%;
        margin: 20px auto;
    }

    .main-container {
        margin: 20px auto;
    }

    .item-100, .item-75, .item-66, .item-50, .item-33, .item-25, .item-10 {
        width: 95%;
        margin: 20px auto;
    }
}