:root {
    --primary: hsla(0, 0%, 20%, 1);
    --secondary: hsla(0, 0%, 11%, 1);
    --tertiary: hsla(0, 0%, 7%, 1);
    --quaternary: hsla(0, 0%, 8%, 1);
    --gradientPrimary: hsla(0, 100%, 50%, 1);
    --gradientSecondary: hsla(260, 100%, 60%, 1);
    scrollbar-color: var(--gradientPrimary) var(--primary);
}

html, * {
    font-family: monospace;
    font-weight: bold;
    color: white;
    scroll-behavior: smooth;
}

body {
    /* sets background and removes margin*/
    background: var(--secondary);
    margin: 0px;
}

.background-filth {
    background: repeating-linear-gradient(#68bcb9, #68bcb9 20px, #57a6a3 20px, #57a6a3 25px);
}

@keyframes fadeInUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}